<app-navbar></app-navbar>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


<div class="row g-6">
<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://www.listchallenges.com/f/lists/3d06c742-15cc-49b2-8845-7ef42d0c9f97.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Burger</h5>
          <p class="card-text">Rs.150/-</p>
          <a href="#" class="btn btn-primary">ORDER</a>
        </div>
      </div>


</div>
<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">


    <div class="card" >
        <img height="299px" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2015_25/637696/grilled-caeser-tease-today-150616-today.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grilled Caesar salad</h5>
          <p class="card-text">Rs.550/-</p>
          <a href="#" class="btn btn-primary">ORDER</a>
        </div>
      </div>



</div>


<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG1KyJp59TWHXOlPMrIzBtmIIg8ymbWmLL9Q&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Biriyani</h5>
          <p class="card-text">Rs.350/-</p>
          <a href="#" class="btn btn-primary">ORDER</a>
        </div>
      </div>


</div>


<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ0T-7atmqPY_BX9NJW-F8KT0m5LOYrDp5JA&usqp=CAU&reload=on" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fried Rice</h5>
          <p class="card-text">Rs.320/-</p>
          <a href="#" class="btn btn-primary">ORDER</a>
        </div>
      </div>


</div>



<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVGZt0lghtK1Mv-5Fb3MNaGVIad9FductpYw&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chilli Chicken</h5>
          <p class="card-text">Rs.400/-</p>
          <a href="#" class="btn btn-primary">ORDER</a>
        </div>
      </div>


</div>

<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7SUnGwGF_Ze4iyFC6rBuwaqpydU_Sz0rngQ&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Noodles</h5>
          <p class="card-text">Rs.450/-</p>
          <a href="#" class="btn btn-primary">ORDER</a>
        </div>
      </div>


</div>



<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUAtAQkveF1L6TIOghojEP4DP8Haz6a8cRiA&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Veg hakka</h5>
          <p class="card-text">Rs.650/-</p>
          <a href="#" class="btn btn-primary">ORDER</a>
        </div>
      </div>


</div>




<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">

<div class="card" >
<img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDX365xSGrKVX0yHlN17IwYx_lLTuHPkxGAA&usqp=CAU" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">
   
    Ovenstory Pizza</h5>
<p class="card-text">Rs.350/-</p>
<a href="#" class="btn btn-primary">ORDER</a>
</div>
</div>


</div>
</div>







        </div>
    </div>
  </div>